@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Raleway, sans;
	font-size: 14pt;
}

.content {
	position: absolute;
	top: 0;
	left: 0;	
	display: flex;
	padding: 10px;
	margin: 80px auto;
	width: 100%;
	justify-content: center;
	z-index: 2;
	overflow: hidden;
}

.content form {
	width: 240px;
}

.content label {
	display: flex;
	padding: 10px;
}

.metros, .cm, .peso {
	width: 100%;
}


.content #titleForm {
	color: #48D1CC;
	justify-content: center;
	margin: 0 auto;
}

.content form p {
	margin-top: 25px;
}

.imc-button {
	display: flex;
	margin: 10px auto;
	justify-content: center;
	border: none;
	width: 50%;
	height: 2rem;
	background: #48D1CC;
}

.imc-button:hover {
	background: #DCDCDC;
}

.bckImg {
	width: 100%;
	display: flex;	
	justify-content: center;
	align-items: center;
	margin: 0 auto;	
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	overflow: hidden;
}

.bckImg img {
	margin-top: 25px;
	height: 40rem;
}


@media screen and (min-width: 600px) {
  body {
    font-size: 30pt;
  }

  .bckImg img {
	margin-top: 25px;
	height: 105rem;
  }

  .content {
	position: absolute;
	top: 0;
	left: 0;	
	display: flex;
	padding: 100px;
	margin: 150px auto;
	width: 100%;
	justify-content: center;
	z-index: 2;
	overflow: hidden;
}

.content form {
	width: 500px;
}

.metros, .cm, .peso {
	width: 100%;
	height: 5rem;
	margin: 2rem 0;
	padding: 30px;
}

.content form p {
	margin-top: 50px;
}

.imc-button {
	display: flex;
	margin: 10px auto;
	justify-content: center;
	border: none;
	width: 50%;
	font-size: 30pt;
	height: 6rem;
	background: #48D1CC;
}

}